$orange-main: #F2785C
$orange-op7-main: rgba(242, 120, 92, 0.7)
$orange-op5-main: rgba(242, 120, 92, 0.5)
$blue-main: #0D606F
$blue-op5-main: rgba(13, 96, 111, 0.5)
$white-main: #FFFFFF
$white-op5-main: rgba(255, 255, 255, 0.5)
$white-op7-main: rgba(255, 255, 255, 0.7)
$fb-bg: #1877F2

@media ( max-width:390px)

h1, .about-site
	display: none

h2
	font-weight: 500
	font-size: 14px
	line-height: 19px

button

header
	margin: 43px 16px 67px 16px
	padding: 0
	height: 32px
	background: none
	box-shadow: none

.logo-part
	left: 0

.travel_portal, .top-nav-ul, .login-btn
	display: none

.travel_portal-logo
	margin: 0

.burger-btn
	position: absolute
	right: 16px
	display: block
	// right: 0
	height: 32px

.burger-btn-pic
	position: absolute
	right: 16px
	width: 35px
	height: 32px

	/* Top block */
.top-for-relative-pos
	height: 251px

.top-block
	height: 251px
	padding: 0

.top-block-inside
	top: 142px

.top-form-div
	height: 48px
	max-width: 360px
	margin-left: 16px

.top-input-form
	max-width: 360px
	// margin-left: 16px
	height: 48px

.top-input-text
	padding: 0
	font-size: 14px
	line-height: 17px
	width: 360px
	margin-left: 16px
	height: 48px
	&::placeholder
		font-size: 14px
		line-height: 17px
		width: 360px
		margin-left: 16px
		height: 48px

.top-input-submit
	width: 92px
	height: 30px
	right: 9px
	font-weight: 500
	font-size: 11px
	line-height: 15px
	padding: 7.5px 9px

/* Perfect trip block */
#steps
	margin-top: 20px

.flex-gap
	display: inline-flex
	flex-wrap: wrap

.flex-gap > .step-block
	margin: 16px

.total-3-steps
	width: 360px
	left: 15px
	right: 15px
	margin-top: 21px
	row-gap: 16px
	// display: flex
	// align-items: center
	// justify-content: space-between
	// justify-self: center

// .step-block
// 	max-width: 111px
// 	min-width: 98px

.step-block-1
	align-items: flex-start
	justify-content: start

// .step-block-2
// 	align-items: flex-start
// 	justify-content: start

.step-block-3
	align-items: flex-end
	justify-content: end

.step-block-logo
	width: 70px
	height: 70px

.step-block-logo-img
	display: none

.step-block-logo-img-sm
	display: block

.step-block-description
	font-size: 10px
	line-height: 12px
	max-width: 111px
	min-width: 98px
	height: 24px

.step-block-description-1
	text-align: left
	width: 94px

.step-block-description-3
	text-align: right
	width: 98px

	/* 	Popular destinations */

#destinations

.popular-destinations-gallery-block
	margin-top: 20px

.gallery-block
	margin: 20px auto 0 auto

.gallery-picture-img
	display: none

.gallery-picture-part
	margin: 0
	// --gap: 0

.flex-gap > .gallery-picture-part
	margin: 60px

.gallery-picture-img-sm
	display: block

.img-country-name
	top: 8px
	font-weight: 500
	font-size: 20px
	line-height: 26px

.find-more-btn-div, .see-more-btn-div
	margin-top: 10px

.find-more-btn, .see-more-btn
	width: 92px
	height: 30px
	font-size: 11px
	line-height: 15px

.find-more-btn-pic, .see-more-btn-pic
	margin-right: 10px
	display: none

.find-more-btn-pic-sm, .see-more-btn-pic-sm
	margin-right: 6px
	display: block
