*, *:before, *:after
	box-sizing: border-box

body
	// font-family: sans-serif
	margin: 0
	display: flex
	flex-direction: column

$orange-main: #F2785C
$orange-op7-main: rgba(242, 120, 92, 0.7)
$orange-op5-main: rgba(242, 120, 92, 0.5)
$blue-main: #0D606F
$blue-op5-main: rgba(13, 96, 111, 0.5)
$white-main: #FFFFFF
$white-op5-main: rgba(255, 255, 255, 0.5)
$white-op7-main: rgba(255, 255, 255, 0.7)

// font-family: 'Aleo', serif;
// font-family: 'Magra', sans-serif;
// font-family: 'Red Hat Text', sans-serif;

// Hug height: 21px 41px 
// Hug width: 527px

/* Header */

header
	position: absolute
	width: 100%
	height: 90px
	left: 0
	top: 0
	z-index: 1
	background-color: $orange-op7-main
	display: flex
	align-items: center
	justify-content: center
	padding-left: 8.3%
	padding-right: 8.3%
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5)

h1
	font-family: Aleo, serif
	font-weight: 700
	font-size: 80px
	line-height: 96px
	color: $white-main
	margin: 0

h2
	font-family: Red Hat Text, sans-serif
	text-transform: uppercase
	color: $orange-main
	font-weight: 500
	font-size: 40px
	line-height: 53px
	text-align: center
	margin: 0

h3
	font-family: Aleo, serif
	font-weight: 400
	font-size: 35px
	line-height: 42px
	color: $blue-main
	margin: 0
	position: relative
	z-index: 1
	opacity: 1

button
	background: $blue-main
	border-radius: 10px
	border: none
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16)

.logo-part
	position: absolute
	left: 8.3%
	cursor: pointer

.travel_portal-logo
	margin-right: 6px

.travel_portal
	font-family: Magra, sans-serif
	text-decoration: none
	color: $white-main
	font-weight: 600
	font-size: 32px

.top-nav

.top-nav-ul
	display: flex
	flex-direction: row
	align-items: flex-start
	padding: 0px
	gap: 42px

.top-nav-li-item
	font-family: Red Hat Text, sans-serif
	list-style-type: none
	color: $white-main
	font-weight: 500
	font-size: 16px
	margin-left: 0
	padding-left: 0
	line-height: 21.17px
	text-decoration: none

.text-top-nav-li-item
	font-family: Red Hat Text, sans-serif
	list-style-type: none
	color: $white-main
	font-weight: 500
	font-size: 16px
	margin-left: 0
	padding-left: 0
	line-height: 21.17px
	text-decoration: none
	// color: $orange-main
	// background: $white-main
	&:hover
		text-decoration: 2px underline $white-main

.login-btn
	position: absolute
	right: 8.3%
	width: 103px
	height: 41px
	// background: $blue-main
	// border-radius: 10px
	// border: none
	// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16)

.text-login-btn
	text-decoration: none
	color: $white-main
	font-family: Red Hat Text, sans-serif
	font-weight: 500
	font-size: 16px
	line-height: 21.17px
	&:hover
		text-decoration: 2px underline $white-main
	// 1111

/* Main */

/* Top block */
.top-for-relative-pos
	position: relative
	width: 100%
	height: 765px

.top-block
	position: absolute
	height: 765px
	width: 100%
	padding-left: 8.3%
	z-index: 0
	background: transparent url("../img/garrett-parker-DlkF4-dbCOU-unsplash_1.png") no-repeat 0 0
	background-size: cover
	display: flex
	align-items: center
	justify-content: start
	margin-bottom: 80px

.top-block-inside
	position: absolute
	top: 122px
	display: flex
	flex-direction: column
	align-items: start
	justify-content: center
	width: 892px

.about-site
	float: left
	font-family: Aleo, serif
	font-weight: 700
	font-style: italic
	font-size: 20px
	line-height: 24px
	color: $white-main
	margin: 55px 0 45px 0

.top-form-div
	float: left
	max-width: 892px
	height: 95px
	background: $white-op7-main
	border: none
	border-radius: 16px
	margin-bottom: 254px

.top-input-form
	display: flex
	align-items: center
	justify-content: center

.top-input-text
	position: relative
	background: none
	border: none
	border-radius: 16px
	width: 892px
	height: 95px
	padding-left: 41px
	font-family: Aleo, serif
	font-weight: 400
	font-style: italic
	font-size: 24px
	line-height: 28.8px
	color: $orange-main
	outline: none
	&::placeholder
		font-family: Aleo, serif
		font-weight: 400
		font-style: italic
		font-size: 24px
		line-height: 28.8px
		color: $orange-main
		width: 892px
	&:focus::-webkit-input-placeholder
		color: transparent

.top-input-submit
	position: relative
	right: 18px
	height: 59px
	background: $blue-main
	color: $white-main
	border: none
	border-radius: 10px
	padding: 10px 32px 10px 32px
	font-family: Red Hat Text, sans-serif
	font-weight: 500
	font-size: 24px
	line-height: 31.75px
	cursor: pointer
	&:hover
		text-decoration: 2px underline $white-main

/* Perfect trip block */

.perfect-trip-block
	position: relative
	align-items: center
	justify-content: space-between
	padding-left: 8.3%
	padding-right: 8.3%
	margin-top: 80px

.total-3-steps
	max-width: 1177px
	// margin-top: 40px
	margin: 40px auto 0 auto
	display: flex
	align-items: center
	justify-content: space-between
	justify-self: center

.step-block
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.step-block-logo
	background: $orange-main
	width: 100px
	height: 100px
	border-radius: 16px
	display: flex
	align-items: center
	justify-content: center

.step-block-description
	text-align: center
	font-family: Aleo, serif
	font-weight: 400
	font-style: normal
	font-size: 20px
	line-height: 24px
	color: $blue-main

/* 	Popular destinations */

.popular-destinations-gallery-block
	position: relative
	margin-top: 97px

.gallery-block
	margin-top: 46px
	margin-left: -60px
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden

.gallery-picture-part
	position: relative
	--gap: 60px
	display: inline-flex
	flex-wrap: wrap
	margin: 0 calc(-1 * var(--gap)) calc(0 * var(--gap)) 0
	width: calc(100% + var(--gap))
	z-index: 0

.gallery-picture-part > *
	margin: 0 var(--gap) 0 var(--gap)

.gallery-picture-img
	border-radius: 16px

.img-country-name
	position: absolute
	left: 15px
	bottom: 40px
	color: $white-main
	text-transform: uppercase
	z-index: 1
	font-family: Red Hat Text, sans-serif
	font-weight: 500
	font-size: 32px
	line-height: 42.34px

.gallery-controls
	position: relative
	margin-top: 24px
	display: flex
	align-items: center
	justify-content: center

.dot-div-block
	position: relative
	width: 20px
	height: 20px
	border-radius: 50%
	background: $orange-op5-main
	z-index: 1
	cursor: pointer
	display: inline-flex
	flex-wrap: wrap
	margin: 0 5px

.dot-div-block-2
	background: $orange-main

.gallery-control-btn
	text-decoration: none
	z-index: 0

.find-more-btn-div, .see-more-btn-div
	position: relative
	display: flex
	align-items: center
	justify-content: center
	margin-top: 40px

.find-more-btn, .see-more-btn
	width: 228px
	height: 59px
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	&-text
		margin-left: 10px
		text-decoration: none
		text-transform: capitalize
		color: $white-main
		font-family: Red Hat Text, sans-serif
		font-weight: 500
		font-size: 24px
		line-height: 31.75px
		&:hover
			text-decoration: 2px underline $white-main

/* 	Travel stories */

.travel-stories-section
	margin-top: 80px

// .stories-total-block
// 	position: absolute
// 	margin-top: 40px
// 	width: 100%
// 	height: 1270px
// 	background: transparent url(/img/Rectangle-33.png) no-repeat 0 0
// 	background-size: cover
// 	opacity: 0.7
// 	z-index: -1
// 	padding-left: 8.3%
// 	padding-right: 8.3%

.stories-total-block
	position: relative
	margin-top: 40px
	width: 100%
	// height: 1270px
	content: ""
	background: url("../img/Rectangle-33.png") no-repeat 0 0
	// display: block
	background-size: cover
	top: 0
	right: 0
	bottom: 0
	left: 0
	// position: absolute
	z-index: 0
	// &::after
	// 	width: 100%
	// 	content: ""
	// 	background: url("../img/Rectangle-33.png") no-repeat 0 0
	// 	opacity: 1
	// 	top: 0
	// 	right: 0
	// 	bottom: 0
	// 	left: 0
	// 	background-size: cover
	// 	position: absolute
	// 	z-index: -1

.stories-block-bg
	background: $white-op5-main
	width: 100%

.stories-block
	position: relative
	display: flex
	flex-direction: column
	padding-top: 10px
	padding-left: 8.3%
	padding-right: 8.3%

.stories-block-typical
	margin-top: 30px
	display: flex

.stories-img
	border-radius: 16px
	filter: drop-shadow(0px 4px 4px #0D606F)

.text-block
	margin-left: 40px

.stories-decription
	font-family: Aleo, serif
	font-weight: 400
	font-size: 20px
	line-height: 24px
	color: $blue-main
	margin: 24px 0 0 0
	position: relative
	z-index: 1
	opacity: 1

.read-more-link
	font-family: Aleo, serif
	font-weight: 700
	font-size: 20px
	line-height: 24px
	color: $blue-main
	text-decoration: underline
	margin: 0
	position: relative
	z-index: 1
	opacity: 1

.see-more-button
	margin-bottom: 41px

//some commit

.footer-part
	position: relative
	display: flex
	align-items: center
	justify-content: center
	padding-top: 21px
	padding-bottom: 19px

.footer-description
	font-family: Red Hat Text, sans-serif
	color: $white-main
	font-weight: 500
	font-size: 16px
	line-height: 21.17px
	margin: 0
	padding: 0

.soc-bottom-links
	position: absolute
	right: 8.3%
	display: flex
	flex-direction: row
	align-items: flex-start
	padding: 0px
	gap: 21.3px
	margin: 0
	cursor: pointer

.soc-bottom-link
	// font-family: Red Hat Text, sans-serif
	list-style-type: none
	color: $white-main
	cursor: pointer
		// font-weight: 500
		// font-size: 16px
	margin: 0
	padding: 0
		// line-height: 21.17px
	// text-decoration: none

.soc-bottom-logo
	cursor: pointer
	// &:hover
	// 	text-decoration: 2px underline $white-main

// .text-top-nav-li-item
// 	font-family: Red Hat Text, sans-serif
// 	list-style-type: none
// 	color: $white-main
// 	font-weight: 500
// 	font-size: 16px
// 	margin-left: 0
// 	padding-left: 0
// 	line-height: 21.17px
// 	text-decoration: none
// 	// color: $orange-main
// 	// background: $white-main
// 	&:hover
// 		text-decoration: 2px underline $white-main
